.div-box {
  height: 180px;
  background-color: gray;
}
.div-item{
    margin-bottom: 20px;
}
.div-word-item {
  font-weight: 700;
  font-size: 20px;
  color: grey;
  font-style: italic;
}
.div-word-title {
  font-size: 18px;
  color: grey;
  font-weight: 600;
}
.div-word {
  margin-top: 20px;
}
.div-link {
  text-decoration: none;
  color: rgb(214, 182, 18);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: end;
}
.div-box {
  color: white;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
